#right  {
    float: right;
}

#bc {
    background-color:  grey;
    border: 10px;
    width: 2000px
}

#left {
    float: left;
    color: deepskyblue
}
#form {
    float: right;
    margin-right: 0;
    margin-top: 10%;
}

#1 {
    float: right;
}

#unique {
    padding-left: 700px;
    
    width: 300px;
    height: 100%;
}

