h1 {
    color: lightblue;
   
    font-family: serif;
   }
  
  h2 {
    color: lightblue;
    background-color: grey;
      
  } 
  .blue {
      color: lightblue;
      text-indent: 20px;
  }
  
  #red {
      color: red;
  }
  
  p {
      line-height: 7px;
  }
      
  