#h1 {
    color: lightblue;
    background-color: grey;
   }
  
  .h2 {
    color: lightblue;
    background-color: grey;
      
  } 
  .blue {
      color: lightblue;
      text-indent: 10px;
  }
  
  #red {
      color: red;
  }
      
  